body {
    margin: 0;
    background-color: #302f2f;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 70%;
    margin: 0 auto 0 auto;
    background: white;
}
/*
    Header de la pagina
*/
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 20px 0 20px;
}
h1 {
    font-size: 37px;
    text-align: start;
    margin: 24px 0 8px 0;
}
.cvContacto {
    display: flex;
    flex-direction: column;
    width: 75%;
}
a {
    color: #0070c0;
    text-decoration: none;
    margin-left: 15px;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #0070c0;
}


/* 
    Imagen del CV
*/
.cvImg{
    width: 20%;
    margin: 20px 20px 0 0;
}
.cvImg img {
    margin-left: auto;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s;
}
.cvImg img:hover {
    transform: scale(1.2);
}


/*
    Separador section
*/
hr {
    border: 0;
    height: 2px;
    background-color: #333;
}


/* Main */
main{
    margin: 0 20px 0 20px;
}


/* 
    Titulos y Subtitulos
*/
h2 {
    font-size: 30px;
    color: #0070c0;
}
.textList {
    font-size: 17px;
    color: #0070c0;
}


/* 
    Listas
*/
ul {
    list-style-type: none;
    padding-left: 20px;
}
ul li {
    position: relative;
    padding-left: 20px;
}
ul li::before {
    content: "\25A0";
    color: #0070c0;
    position: absolute;
    left: 0;
    font-size: 12px;
    line-height: 1;
}
ul li span {
    color: #000000;
}
div + p {
    margin-top: 5px;
    margin-left: 20px;
}


/*
    Habilidades section
*/
.habilidadesSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
}
.habilidadesTecnicas {
    display: block;
    width: 50%;
    margin-left: 20px;
}
.habilidadesBlandas {
    display: block;
    width: 40%;
    margin-left: 20px;
}
.textHabilidades {
    margin-bottom: 0;
}


/* 
    Periodos de tiempo
*/
.periodosDeTiempo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.periodosDeTiempo p{
    margin: 0;
}
.periodosDeTiempo h3{
    margin: 0;
}


/* 
    Boton de descarga
*/
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #e44b4d;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
.btn:hover {
    background-color: #642021;
    text-decoration: none;
}
